body{
    margin: 0;

}
header{
    position: absolute;
   
}
main{
    background-image:url("./images/large.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-size: contain;
   background-repeat: no-repeat; */
}
main h1{
    margin: 0;
}